.article {

    &__image__wrapper {

    }

    &__image__holder {
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__date {

    }

    &__author {

    }

    &__content {
        &__title {

        }

        &__description {
            
        }
    }
}

.article-feed-wrapper {
    height: 100vh;
}