:root {
    --main-black: #343c44;
    --main-white: #f4f3ee;
    --main-orange: #ce8147;
    --main-blue: #2d93ad;
    --background: #000;
}

$main-black: var(--main-black);
$main-orange: var(--main-orange);
$main-blue: var(--main-blue);
$main-white: var(--main-white);
$background: var(--background);